
## Assignment

You are leading a project to analyze product performance at Stripe. We at Stripe are most interested in how the products are performing and growing as well as how to prioritize our product development efforts to maximize our growth. You have been provided an initial cut of data on a few flagship products, each of which is targeted at a specific user segment. From the data you've been given, please prepare a short presentation detailing your findings. 

**Product Usage Table:**

|Label| Description|
| - | :- |  
| `merchant` | This is the unique ID of each Stripe user |
|`date` | Data is aggregated up to the month level for each Stripe user.|
|`product` | This is the Stripe product that the user is using to charge their customers.|
|`event` | This is an action within a product. For more details on how products are used, see "segment details" below|
|`count of events` |       |
|`usd_amount` |Total amount in cents and USD that was processed for that API call|

**Segment Table:**

This is a mapping of merchant IDs to the user segmentation we have.

|Label| Description|
| - | :- | 
|`saas`| These businesses serve SaaS products which means they primarily charge their customers on a recurring basis (usually   monthly). We want them to use our Subscriptions payments product to charge regularly on a time interval.|
|`ecommerce` | These businesses use Stripe's shopping cart product and primarily sell physical or digital goods online. |
|`platforms` | These users are platforms upon which other users can sign up and charge for services through the Stripe API. Examples would include ridesharing services, delivery services, etc. (e.g. Lyft, Task Rabbit, Instacart) |


## Segment Details

### SaaS

SaaS users have two options when they process recurring payments. The recurring payments product allows them to schedule automatically recurring payments on a fixed schedule, but the merchants can also manually create charges on Stripe for their recurring payments. Our hope with the recurring payments product is to make it easy for all users to automate their payments. The product was launched in May 2013. 

### E-Commerce Store

Our shopping cart product enables online e-commerce stores to sell goods. We track details on their website around the conversion funnel and actions that customers take. We can see when an item is viewed, added to the cart, when the checkout flow is initiated, and when it is completed with a payment submitted. 

### Platforms 

Our Marketplace product allows platforms to charge on behalf of other users and payout funds to each end automatically.



### Questions to guide thinking:

1. How are each of Stripe's products and segments performing and where are they headed?

2. Are there any issues with the products that we should address?

3. Given more time and access to more data, what would you want to dig deeper on?

4. How should we prioritize development for different products, given our limited resources?

In [199]:
import pandas as pd
import matplotlib.pyplot as plt

In [210]:
product_usage_df = pd.read_csv("product_usage.csv")# Write your code here
segmentation_df = pd.read_csv("segmentation.csv")

In [211]:

#removing empty rows 
product_usage_df = product_usage_df.dropna(how="all",axis=0)

#casting data types
product_usage_df['Merchant'] = product_usage_df['Merchant'].astype('str')
product_usage_df['Date'] = pd.to_datetime(product_usage_df['Date'],format = "%m/%d/%Y")
product_usage_df['Product'] = product_usage_df['Product'].astype('str')
product_usage_df['Event'] = product_usage_df['Event'].astype('str')
product_usage_df['Count of events'] = pd.to_numeric(product_usage_df['Count of events'],downcast='integer')
product_usage_df['Usd Amount'] = pd.to_numeric(product_usage_df['Usd Amount'],errors='coerce')
product_usage_df['Usd Amount'] = product_usage_df['Usd Amount'].fillna(0)

#removing empty columns
product_usage_df = product_usage_df.iloc[:,:7]

#add Year column
product_usage_df['Year'] = product_usage_df['Date'].dt.year

,Merchant,Date,Product,Event,Count of events,Usd Amount,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Year
0,282t1vpldi,2013-01-01,Basic API,Charge,33,329967.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
1,282t1vpldi,2013-01-02,Basic API,Charge,17,169983.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2,282t1vpldi,2013-01-03,Basic API,Charge,20,199980.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
3,282t1vpldi,2013-01-04,Basic API,Charge,21,209979.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
4,282t1vpldi,2013-01-05,Recurring,Subscription.Charge,23,229977.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013

In [209]:
product_usage_df.dtypes

Merchant                   object
Date               datetime64[ns]
Product                    object
Event                      object
Count of events             int32
Usd Amount                float64
Unnamed: 6                float64
dtype: object

In [206]:
product_usage_df.head()

,Merchant,Date,Product,Event,Count of events,Usd Amount
0,282t1vpldi,2013-01-01,Basic API,Charge,33,329967.0
1,282t1vpldi,2013-01-02,Basic API,Charge,17,169983.0
2,282t1vpldi,2013-01-03,Basic API,Charge,20,199980.0
3,282t1vpldi,2013-01-04,Basic API,Charge,21,209979.0
4,282t1vpldi,2013-01-05,Recurring,Subscription.Charge,23,229977.0

In [182]:
segmentation_df.head()

      Merchant   Segment
0   282t1vpldi      SaaS
1  2x5fpa2a9k9      SaaS
2   39rrckrzfr      SaaS
3    3r5r60f6r  Platform
4   4p36czyqfr  Platform

In [183]:
metrics_tbl = pd.merge(product_usage_df,segmentation_df,on = "Merchant",how="left")

In [184]:
metrics_tbl.head()

,Merchant,Date,Product,Event,Count of events,Usd Amount,Segment
0,282t1vpldi,2013-01-01,Basic API,Charge,33,329967.0,SaaS
1,282t1vpldi,2013-01-02,Basic API,Charge,17,169983.0,SaaS
2,282t1vpldi,2013-01-03,Basic API,Charge,20,199980.0,SaaS
3,282t1vpldi,2013-01-04,Basic API,Charge,21,209979.0,SaaS
4,282t1vpldi,2013-01-05,Recurring,Subscription.Charge,23,229977.0,SaaS

1. How are each of Stripe's products and segments performing and where are they headed?

2. Are there any issues with the products that we should address?

3. Given more time and access to more data, what would you want to dig deeper on?

4. How should we prioritize development for different products, given our limited resources?

In [186]:
#Product and Segment Summary
metrics_tbl.groupby(['Product','Segment'])[['Count of events','Usd Amount']].sum().reset_index().rename(columns = {'Count of events':'Total Events'}).assign(**{'Total USD in Dollars' : lambda x: x['Usd Amount']/100}).drop("Usd Amount", axis = 1)

        Product           Segment  Total Events  Total USD in Dollars
0     Basic API              SaaS         54261             864776.66
1          Cart  E-Commerce Store      11943599            5585106.70
2  Marketplaces          Platform        522102           15319974.38
3     Recurring              SaaS        123992             488484.73

In [187]:
#Comparison summary of Total Events and Total USD grouped by Product, Segment, and Year
metrics_tbl['Year'] = metrics_tbl['Date'].dt.year
metrics_tbl.groupby(['Product','Segment','Year'])[['Count of events','Usd Amount']].sum().reset_index().rename(columns = {'Count of events':'Total Events'}).assign(**{'Total USD in Dollars' : lambda x: x['Usd Amount']/100}).drop("Usd Amount", axis = 1)

        Product           Segment  Year  Total Events  Total USD in Dollars
0     Basic API              SaaS  2013          8389             255072.08
1     Basic API              SaaS  2014         45872             609704.58
2          Cart  E-Commerce Store  2013       3327761            1708220.87
3          Cart  E-Commerce Store  2014       8615838            3876885.83
4  Marketplaces          Platform  2013        232075            6746691.33
5  Marketplaces          Platform  2014        290027            8573283.05
6     Recurring              SaaS  2013         18137             125435.85
7     Recurring              SaaS  2014        105855             363048.88

There seems to be a upward growth across all products and segments based on the metrics from 2013 and 2014. To ensure that we don't have any anomalies, we should drill down and compare the respective weeks

In [188]:
metrics_grouped = metrics_tbl.groupby(['Product','Segment','Date'])[['Count of events','Usd Amount']].sum().reset_index().rename(columns = {'Count of events':'Total Events'}).assign(**{'Total USD in Dollars' : lambda x: x['Usd Amount']/100}).drop("Usd Amount", axis = 1)
metrics_grouped.head()

     Product Segment       Date  Total Events  Total USD in Dollars
0  Basic API    SaaS 2013-01-01           210              15256.48
1  Basic API    SaaS 2013-01-02           291              17515.26
2  Basic API    SaaS 2013-01-03           355              19460.07
3  Basic API    SaaS 2013-01-04           422              21902.83
4  Basic API    SaaS 2013-01-05           292                292.00